* {
    font-family: 'Roboto Mono', monospace;
    font-family: 'Raleway', sans-serif;
    font-family: 'Lato', sans-serif;    
}

body {
    background-color: black;
    margin: 0;
}

ul {
    padding-left: 0;
}


/* -------------------- NAVBAR -------------------- */
.navbar {
    /* background-color: #000; */
    color: #D9C666;
    display: flex;
    height: 8svh;
    margin: 0 auto;
    align-items: center;
    
}

/* -------------------- LANDING PAGE -------------------- */
.hero-container {
    position: relative;
    margin: auto;
}

.hero-mask {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #D9C666;
}

.hero-text {
    color: #D9C666;
    padding: 0 1.25rem;
    text-align: center;
}

.hero-buttons {
    margin: 0 auto 1.25rem;
    font-size: 1.4em;
    /* margin: 5px 0; */
}

.hero-btn {
    text-decoration: none;
    /* border-radius: 5px solid; */
    border: 2px solid #D9C666;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 0.4em;
    color: #D9C666;
}

.hero-btn:hover {
    background-color: #D9C666;
    color: black;
}

/* -------------------- SERVICES -------------------- */
#services {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2EBC9;
}

.service-btn-ladies, .service-btn-gents-juniors {
    font-size: 1.3em;
    background-color: #F2EBC9;
}

.active-tab {
    background-color: #D9C666;
    border-bottom: 2px solid black;
}

.service-item, .service-item-alt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-item {
    background-color: #D9C666;
}

.line-break {
    width: 60%;
    margin-top: 1em;
}

.service-name, .service-price {
    font-weight: bold;
}

/* -------------------- Gallery -------------------- */
#gallery {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: grey;
}

/* -------------------- CONTACT -------------------- */
#contact {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #D9C666;
}

.contact-info {
    list-style-type: none;
}

.contact-item, .contact-item-alt {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.opening-times, .opening-times-alt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.contact-item-alt, .opening-times-alt {
    background-color: #F2EBC9;
}

.contact-map {
    width: 50%;
    border: none;
}

/* -------------------- FOOTER -------------------- */
.footer {
    color: #D9C666;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
    /* height: 6svh; */
}

.copyright {
    font-size: 1.5rem;
}

.footer-icon {
    color: #D9C666;
}


/* CSS rules for small screen sizes, 600px and below */
@media only screen and (max-width: 600px) {
    /* -------------------- REUSED COMPONENTS -------------------- */
    .content-title {
        font-size: 4em;
        width: fit-content;
        margin: 1rem auto;
    }

    .content-box {
        width: 90%;
        margin: 0 auto;
        border: 2px solid black;
    }

    /* -------------------- NAVBAR -------------------- */
    .navbar {
        width: 90%;
        justify-content: center;
    }

    .nav-links {
        display: none;
    }

    /* -------------------- LANDING PAGE -------------------- */
    .hero-image-sm {
        display: block;
        height: 92svh;
        width: 100%;
        /* object-fit: contain; */
        object-fit: cover;
    }

    .hero-image-lg {
        display: none;
    }

    .hero-mask {
        width: 90%;
        left: 5%;
    }

    .hero-text {
        font-size: 0.9em;
    }

    .hero-buttons {
        display: none;
    }

    /* -------------------- SERVICES -------------------- */
    .service-title {
        margin: 1rem auto;
    }

    #service-menu {
        width: 90%;
        margin: 0 auto;
        border: 2px solid black;
    }

    .service-category {
        padding: 0.5rem;
        margin-top: 1rem;
    }

    .service-name, .service-price {
        padding: 0.5rem;
    }

    .disclaimer {
        display: flex;
        /* flex-direction: row; */
        align-items: center;
        margin-top: 1rem;
    }

    .disclaimer-icon {
        padding: 0.4rem 0.4rem 0 0.5rem;
    }

    .disclaimer-text {
        padding-right: 0.5rem;
    }

    #service-photo-container {
        display: none;
    }

    /* -------------------- GALLERY -------------------- */
    .gallery-title {
        margin: 0 auto 1rem; 
        padding-top: 1rem;
    }
    
    .gallery-carousel-nav {
        position: relative;
    }

    .carousel-btn {
        position: absolute;
        z-index: 2;
        top: 50%;
        /* transform: translateY(-50%); */
        background: none;
        border: none;
        font-size: 4rem;
    }

    .gallery-carousel {
        display: block;
        position: relative;
        width: 90%;
        height: 80vh;
        margin: 0 auto;
        /* background-color: aqua; */
        border: 2px solid black;
    }

    .gallery-photo {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


    /* -------------------- CONTACT -------------------- */
    .contact-box {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        border: 2px solid black;
    }

    .contact-info, .contact-map {
        width: 100%;
    }

    .contact-map {
        height: 35vh;
    }

    .opening-day, .opening-time, .contact-icon {
        padding: 0.5rem 0.3rem 0.5rem 0.5rem;
    }
}




/* CSS rules for medium and larger screen sizes, 601px and above */
@media only screen and (min-width: 601px) {
    /* -------------------- REUSED COMPONENTS -------------------- */
    .content-title {
        font-size: 4em;
        width: fit-content;
        margin: 2rem auto;
    }

    .content-box {
        width: 60%;
        margin: 0 auto;
        border: 2px solid black;
    }

    /* -------------------- NAVBAR -------------------- */
    .navbar {
        width: 60%;
        justify-content: space-between;
    }

    .nav-links {
        display: flex;
        list-style-type: none;
    }

    .nav-link {
        color: #D9C666;
        font-weight: bold;
        text-decoration: none;
        margin: 0 10px;
        font-size: large;
    }

    .nav-link:hover {
        border-bottom: 2px solid #D9C666;
        padding-bottom: 2px;
    }

    /* -------------------- LANDING PAGE -------------------- */
    .hero-image-sm {
        display: none;
    }

    .hero-image-lg {
        display: block;
        height: 92vh;
        width: 100%;
        object-fit: cover;
    }

    .hero-mask {
        width: 60%;
        left: 20%;
    }

    .hero-text {
        font-size: 1.2em;
    }

    .hero-buttons {
        display: block;
    }

    /* -------------------- SERVICES -------------------- */
    .service-container {
        width: 60%;
        height: 70vh;
        display: flex;
        border: solid 2px black;
        margin: 0 auto 3rem;
    }

    #service-menu {
        width: 50%;
        overflow: hidden;
    }

    .service-category {
        padding: 0.5rem 0 0.5rem 1rem;
        margin-top: 1rem;
    }

    .service-name {
        padding: 0.5rem 0 0.5rem 1rem;
    }
    
    .service-price {
        padding: 0.5rem 1rem 0.5rem 0;
    }

    .disclaimer {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .disclaimer-icon {
        padding: 0 0.4rem 0 1rem;
    }

    .disclaimer-text {
        padding-right: 1rem;
    }

    #service-photo-container {
        /* display: flex; */
        height: inherit;
        width: 50%;
        border-left: solid 2px black;
    }

    #service-photo {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    /* -------------------- GALLERY -------------------- */
    #gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery-title {
        height: fit-content;
        margin: 2rem auto;
    }

    .gallery-carousel {
        display: block;
        width: 60%;
        height: 80vh;
        margin: 0 auto;
        border: 2px solid black;
    }

    .gallery-photo {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    /* -------------------- CONTACT -------------------- */
    .contact-box {
        display: flex;
        width: 60%;
        height: 70vh;
        font-size: 1.2em;
        margin: 0 auto;
        border: 2px solid black;
    }

    .contact-info, .contact-map {
        width: 50%;
    }

    .contact-map {
        border-left: 2px solid black;
    }

    .opening-day, .contact-icon {
        padding: 0.5rem 0 0.5rem 1rem;
    }

    .contact-info-text {
        padding: 0.5rem;
    }
    
    .opening-time {
        padding: 0.5rem 1rem 0.5rem 0;
    }
} 